<launch>
  <!-- Inicia os launchs gerais -->
  <include file="$(find robot_tasks)/launch/general.launch"/>

  <!-- Inicia o controle do robô -->
  <node name="align_block" pkg="robot_block_finder" type="align_block.py" />

  <!-- Inicia o scheduler da Advanced Test 3 -->
  <node name="scheduler_node" pkg="robot_scheduler" type="scheduler_advanced_test3.py" />

</launch>