<launch>
  <!-- Inicializa a detecção das AprilTags -->
   <include file="$(find apriltag_ros)/launch/continuous_detection.launch" />

  <!-- Inicializa o controle do robô (Hardware interface)-->
  <include file="$(find robot_base_control)/launch/hw_interface.launch"/>

  <!-- Inicializa a câmera do robô -->
  <include file="$(find usb_cam_launch)/launch/usb_cam.launch" />

  <!-- Inicializa a câmera (RealSense) do robô -->
  <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch" /> -->

  <!-- Inicializa o braço do robô -->
  <!-- <include file="$(find robot_arm_control)/launch/arm_control.launch"/> -->

  <node pkg="rosserial_python" type="serial_node.py" name="serial_node" output="screen" respawn="true">
      <param name="baud" value="57600" />
      <param name="port" value="/dev/ttyUSB0" />
  </node>

</launch>
