<launch>

  <!-- Inicia o controle do robô -->
  <node name="align_block" pkg="robot_block_finder" type="align_block.py" />

    <!-- Inicia o controle do braço robótico -->
  <node name="controle_geral_node" pkg="robot_arm_control" type="arm_control.py" /> 

  <!-- Inicia o attach dos blocks (simulaçao) -->
  <node name="attach_block_service" pkg="gazebo_ros_link_attacher" type="attach.py" /> 

</launch>